<div class="container mt-5">
  <div class="row">
    <div *ngFor="let reminder of reminders" class="col-lg-3 col-md-4 col-sm-6">
      <app-reminders-card (deletedReminder)="deleteReminder($event)" [reminder]="reminder"></app-reminders-card>
    </div>


    <div *ngIf="!addingMode" class="col-lg-3 col-md-4 col-sm-6" (click)="addingToggle()">
      <div class="card reminder-adder text-center justify-content-center align-self-center">
        <h1 class="display-1">+</h1>
      </div>
    </div>

    <div *ngIf="addingMode" class="col-lg-3 col-md-4 col-sm-6">

      <app-reminders-add (addedReminder)="addNewReminder($event)" (cancelAdding)="cancelAddingMode($event)">
      </app-reminders-add>

    </div>


  </div>
</div>