<div class="card mb-3">
  <div class="card-body">
    <form #addingForm="ngForm" (ngSubmit)="addReminder()" ngNativeValidate>

      <div class="form-group">
        <input type="datetime-local" class="form-control form-control-sm" name="responseTime"
          [(ngModel)]="reminderForCreate.responseTime" placeholder="Response Time" required>
      </div>

      <div class="form-group">
        <input type="text" class="form-control" name="text" [(ngModel)]="reminderForCreate.text" placeholder="Text"
          required>
      </div>

      <div class="form-group text-center">
        <button class="btn btn-success" [disabled]="!addingForm.valid" type="submit"
          routerLinkActive="router-link-active">Add</button>
        <button class="btn btn-default" type="button" (click)="cancel()">Cancel</button>
      </div>

    </form>
  </div>
</div>