.card-img-wrapper{
    overflow: hidden;    
    position: relative;
}

.reminder-icons{
    margin-right: auto;
    margin-left: auto;
    opacity: 0;
}

.card:hover .reminder-icons{
    opacity: 1;
}

.animate{
    transition: all 0.3s ease-in-out;
}
.x-btn{
    font-size: 20px;
    padding: 2px 10px; 
}

.card{
    height: 120px !important;
}