<div class="card mb-4">
  <div class="card-img-wrapper">
    <ul class="list-inline reminder-icons animate text-right">
      <li class="list-inline-item pt-1"><button class="btn btn-primary"><i class="fa fa-edit"></i></button></li>
      <li class="list-inline-item pr-1"><button class="btn btn-primary" (click)="deleteReminder()"><i
            class="fa fa-trash"></i></button></li>
    </ul>
  </div>
  <div class="card-body p-1">

    <h6 class="card-title text-center">
      {{reminder.responseTime | date:'medium'}}
      <hr>
      {{reminder.text}}
    </h6>
  </div>
</div>